@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }

}

@media (hover: none) {

  .plus {
    visibility: visible;
    opacity: 1;
  }

  .box-item:hover .box-img {
    display: none;
  }

  .box-input:checked~.box-img {
    display: block;
  }

  .box>*:hover .box-plus {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .box-img img {
    width: 30%;
  }
}



@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }


  .box-img img {
    width: 40%;
  }

  .box-img {
    padding: 3rem 0px 1rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 11px;
  }

  .box-img img {
    width: 60%;
  }

}

@media screen and (max-width: 330px) {
  html {
    font-size: 9px;
  }

  .box-img img {
    width: 75%;
  }

}