html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --orange-color: #FE9013;
  --blue-color2: rgba(4, 150, 235, 0.982);
  --blue-color3: rgba(17, 101, 227, 0.811);

  --text-color: #333B41;
  --head-color: rgba(0, 0, 0, 0.785);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex: 1;
  background: linear-gradient(to bottom right, rgba(104, 129, 158, 0.596), rgba(36, 63, 96, 0.651), rgba(59, 69, 0, 0.6));

  font-family: 'Courier New', Courier, monospace;
  font-size: calc(20rem / 16);
}

.container {
  display: flex;
  flex: 1 1 1200px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  min-height: 100vh;

  border: 1px solid rgba(30, 29, 29, 0.395);
  border-radius: 10px;
  background-color: rgb(180, 180, 169);

  -webkit-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
}


h1 {
  font-size: 2rem;
  font-weight: 800;
  align-self: flex-start;
  padding: 2rem;
  margin: 0 0 0 1.5rem;
  text-shadow: 2px 2px 2px rgba(100, 91, 85, 0), 0px 2px 2px rgba(112, 103, 84, 0.877);
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: rgb(76, 86, 123);
  box-shadow: 2px 2px 2px rgba(100, 91, 85, 0), 0px 2px 2px rgba(70, 70, 69, 0.662);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 90%;
  padding: 1rem 0;
}

.box-item {
  /* min-height: 10%; */
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgb(126 119 115 / 0%), 0px 1px 1px rgba(129, 121, 108, 0.614);
  transition: background ease-out 0.5s;
}

/* .box-item:has(.box-title) {
  border: 1px solid red;
} */

.box-title {
  display: block;
  padding: 1rem;
  position: relative;
}

.box-img {
  text-align: center;
  display: none;
  padding: 0 0 1rem;
}

.box-img img {
  text-align: center;
  width: 20%;
  height: auto;
  /* transition: all .5s ease-out; */
  /* transition: all 500ms ease-in-out; */
}

.box:hover .box-title:after {
  display: block;
}

.box-title:after {
  content: "";
  /* display: block; */
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;

  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: rgb(74, 73, 120) transparent transparent transparent;
}


.box-input {
  appearance: none;
  -webkit-appearance: none;
  /* display: none; */
}

/* -----Show picture---- */

/* .box-item:has(.box-title) {
  border: 1px solid red;
} */


.box-title:hover~.box-img,
.box-input:checked~.box-img {
  display: block;
}

/* ------checked------ */
.box-input:checked~.box-title {
  color: var(--orange-color);
  text-shadow: 1px 1px 1px rgb(126 119 115 / 0%), 0px 1px 1px rgba(56, 53, 48, 0.88);
}

.box-item:has(.box-input:checked) {
  background-color: #c0b32017;
}

.box-input:checked~.box-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent rgb(236, 157, 12) transparent;
}


.box-item:hover {
  color: var(--blue-color3);
  text-shadow: 1px 1px 1px rgb(126 119 115 / 0%), 0px 1px 1px rgba(56, 53, 48, 0.88);
}

.box-input:hover~.box-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent rgb(7, 82, 231) transparent;
}


/* ------animate-------- */

.animate {
  -webkit-animation: animatezoom 2s;
  animation: animatezoom 2s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}